body{background-color: #A9A9A9;}
h1{color: #B2671C;font-family: "Trebuchet MS"; font-size: 42px; text-align: center;}
p{color: #804B17;font-family: "Trebuchet MS"; font-size: 12px;}
img{border-width: 3px;border-color: #B2671C; border-style: double;}
